<div class="container">
    <h1>Banks</h1>
    <table class="table" *ngIf="banks && banks.length > 0">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bank Name</th>
                <th scope="col">Bank Address</th>
                <th scope="col">Sort Code</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Change Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bank of banks">
                <td>{{bank.id}}</td>
                <td>{{bank.bankName}}</td>
                <td>{{bank.bankAddress}}</td>
                <td>{{bank.sortCode}}</td>
                <td *ngIf="bank.isActive == true; else InActive" style="color: green; font-weight: bold;">Active</td>
                <ng-template #InActive>
                    <td style="color: red; font-weight: bold;">Inactive</td>
                </ng-template>
                <td><a [routerLink]="['/banks','edit',bank.id]">Edit</a></td>
                <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="isActive" name="isActive" [(ngModel)]="bank.isActive">
                      <label class="form-check-label" for="isActive">Active</label>
                    </div>
                </td>                  
            </tr>
        </tbody>
    </table>
    <p *ngIf="!banks || banks.length == 0">No banks found</p>
</div>