<div class="container">
    <h1 style="margin: 20px 0;">Update bank</h1>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-success" role="alert" *ngIf="message">
                {{message}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{error}}
            </div>
            <form #form="ngForm" (ngSubmit)="updateBank()" *ngIf="!error">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input readonly type="text" class="form-control bg-light" id="id" name="id" [(ngModel)]="updateBankDTO.id">
                </div>
                <div class="mb-3">
                    <label for="bankName" class="form-label">Bank Name</label>
                    <input type="text" class="form-control" id="bankName" name="bankName" [(ngModel)]="updateBankDTO.bankName">
                </div>
                <div class="mb-3"> 
                    <label for="sortCode" class="form-label">Sort Code</label>
                    <input type="text" class="form-control" id="sortCode" name="sortCode" minlength="6" maxlength="6" required [(ngModel)]="updateBankDTO.sortCode">
                    <div class="alert-feedback" *ngIf="form.controls['sortCode'].invalid && (form.controls['sortCode'].dirty || form.controls['sortCode'].touched)">
                        <div *ngIf="form.controls['sortCode'].errors?.['required']">Sort Code is required.</div>
                        <div *ngIf="form.controls['sortCode'].errors?.['minlength'] || form.controls['sortCode'].errors?.['maxlength']">
                            Sort Code must be at least 6 characters long.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="bankAddress" class="form-label">Bank Address</label>
                    <input type="text" class="form-control" id="bankAddress" name="bankAddress" [(ngModel)]="updateBankDTO.bankAddress">
                </div>
                <button type="submit" class="btn btn-primary">Update Bank</button>
            </form>
            <div class="alert alert-danger" role="alert" *ngIf="error">
                <div>{{error}}</div>
                <p></p>
                <a class="btn btn-secondary" role="button" [routerLink]="['/banks']">Go to banks</a>
            </div>
        </div>
    </div>
    
</div>